html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

h1 {
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    display: inline-block;
}

hr {
    clear: both;
    position: relative;
    top: 40px;
    opacity: 0.5;
}

p {
    font-size: 14px;
}

.hidden {
    display: none;
}

.container {
    width: 998px;
    margin: 0 auto;
}

.header {
    text-transform: uppercase;
    margin: 40px auto 40px auto;
    padding-bottom: 40px;
}

.nav {
    list-style: none;
    padding: 0;
    display: inline-block;
    width: 70%;
    text-align: right;
    float: right;
}

.nav_item {
    font-size: 18px;
    margin: 0 10px 5px 10px;
}

.logo {
    display: inline-block;
    width: 30%;
    text-align: left;
    float: left;
}

.social {
    padding-left: 10px;
    position: relative;
    top: 3px;
}

.icon {
    width: 18px;
    height: 18px;
    vertical-align: bottom;
}

.thumbnail:hover {
    opacity: 0.75;
}

.nav_item:hover,
.social img:hover {
    opacity: 0.5;
}


.image_container {
    width: 300px;
    display: inline-block;
    margin: 0 15px 20px 15px;
    text-align: center;
}

.image_container p {
    text-align: left;
}

.gallery,
.info {
    clear: both;
}

.thumbnail {
    width: 300px;
    height: 300px;
}

.nav_item a {
    color: rgb(145,196,187);
}

a.current_page {
    color: rgb(202,70,66);
}