a {
    text-decoration: none;
    color: black;
}

li {
    display: inline-block;
}

.hidden {
    display: none;
}

.hide_large {
    visibility: hidden;
}

.nailthumb-container {
    visibility: visible;
    display: inline-block;
    margin: 0;
}

.container {
    width: 758px;
    margin: 0 auto;
}

.header {
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto 50px auto;
}

.nav {
    list-style: none;
    padding: 0;
}

.nav_item {
    font: 14px;
    margin: 5px 10px;
}

.social_links {
    list-style: none;
    padding: 0;
    text-align: right;
}

.icon {
    width: 30px;
    height: 30px;
}