html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 16px;
}

.thumbnail:hover {
    opacity: 0.75;
}

.image_container {
    width: 290px;
    display: inline-block;
    margin: 0 25px 25px 25px;
    text-align: center;
}

.image_container p {
    text-align: left;
}

.contact_info p {
    margin: 5px 0;
}

.contact_links {
    margin-bottom: 60px;
}

.thumbnail {
    width: 100%;
}

.about_image_container {
    text-align: center;
    margin-bottom: 20px;
}

.about_image {
    max-width: 250px;
}

.footer {
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 80%;
}

.header {
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav a {
    color: rgb(145,196,187);
}

.navbar-brand {
    font-size: 220%;
}

.navbar-nav {
    font-size: 120%;
}

.icon-bar {
    background-color: #888;
}

a, .navbar-brand:focus {
    color: black;
}

.nav li a:focus {
    background-color: transparent;
}

a.current_page {
    color: rgb(202,70,66);
}

.home_image {
    width: 100%;
}

.social a {
    color: rgb(145,196,187);
    margin-left: 5px;
    margin-right: 5px;
}

.social a:hover {
    color: #888888;
}

.social {
    margin-bottom: 20px;
}

hr {
    width: 100%;
    display: inline-block;
}

.gallery {
    text-align: center;
}

.pswp__caption__center {
    text-align: center;
}

@media screen and (max-width: 400px) {
    .navbar-brand {
        font-size: 160%;
    }

    .image_container {
        width: 80%;
    }
}